//parameters
params.genomedir="data/GRCm38"
params.fasta="data/fastq"
params.barcodes="data/2021fugubarcodes.txt"

//Index requires more computational power than the rest of processes
process {
   
   withName: index {
        cpus = 10
        memory = 40.GB
        time ='30min'
        container = 'docker://quay.io/biocontainers/star:2.7.9a--h9ee0642_0'
   }   

   withName: alignment {
      cpus=10
      memory=40.GB
      time = '1h'
      container = 'docker://quay.io/biocontainers/star:2.7.9a--h9ee0642_0'

   }

   withName: CreateDGEMatrix {
      cpus=4
      memory=24.GB
      time='1h'
      container='library://evdomene/default/brbseqtools:sha256.4d6247699fd856e5eea6a1d0d94f3393b8357fa9f1b6e24533d3b378cdf49a1a'

   }
 
    
}

profiles {

 docker {
    docker.enabled = true 
    pullTimeout = "200 min"

  }
  
  slurm {
    singularity.enabled = true 
    singularity.autoMounts = true
    pullTimeout = "200 min"
    process.executor = "slurm"
    process.queue = "small"
    process.queueSize = 10
    process.submitRateLimit = '10/2min'
    process.clusterOptions = '--account=project_2002552'
	}  
}
