//parameters
params.genomedir="data/GRCm38"

//Index requires more computational power than the rest of processes
process {
   
    withName: index {
        cpus = 10
        memory = 40.GB
        container = 'docker://quay.io/biocontainers/star:2.7.9a--h9ee0642_0'
   }   
 
    
}

profiles {

 docker {
    docker.enabled = true 
    pullTimeout = "200 min"
  }
  
  slurm {
    singularity.enabled = true 
    singularity.autoMounts = true
    pullTimeout = "200 min"
    process.executor = "slurm"
    process.queue = "small"
    process.queueSize = 4
    process.submitRateLimit = '10/2min'
    process.clusterOptions = '--account=project_2002552'
  }
}

