//parameters
params.genomedir="data/GRCm38"

//Index requires more computational power than the rest of processes
process {
   
    withName: index {
        cpus = 1
        memory = 4.GB
        container = 'docker://quay.io/biocontainers/star:2.7.9a--h9ee0642_0'


   }    
    
}

profiles {

 docker {
    docker.enabled = true 
    pullTimeout = "200 min"
  }
  
  singularity {
    singularity.enabled = true 
    singularity.autoMounts = true
    pullTimeout = "200 min"
  }
}

